<div class="text-center">
    <%= image_tag @post.image.url(:medium) %>
<%= simple_form_for @post, html: {class: 'form-horizontal', multipart: true } do |f| %>
<div class="form-wrapper">
<div class="form-group">
  <%= f.input :image, class: "text-center" %>
  </div>
  <div class="form-group">
  <%= f.input :caption, class: "text-center"  %>
  </div>
  <div class="form-group">
  <%= f.button :submit, class: "btn btn-success text-center" %>
  </div>
  </div>
  </div>
<% end %>